:root {
    --burgundy: #800020;
}

.text-burgundy {
    color: var(--burgundy) ;
}

.menu-img {
    transition: transform 0.3s ease;
}

.menu-img:hover {
    transform: scale(1.03);
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #212529;
}